#banner {
  background-image: url(http://www.oliverwyman.com/content/dam/oliver-wyman/v2/publications/2017/aug/Amazon_Aug_Banner.jpg.imgix.banner.jpg);
  width: 100%;
  position: fixed;
  z-index: 101;
}
