/* https://coolors.co/050505-1b9aaa-dddbcb-2ffc41-485665 */

#allProductsList {
  padding-top: 3.5rem;
}

.App {
  text-align: center;
  background-color: #F7F6F2;
  color: #050505;
}

#banner {
  background-image: url(http://www.oliverwyman.com/content/dam/oliver-wyman/v2/publications/2017/aug/Amazon_Aug_Banner.jpg.imgix.banner.jpg);
  /* position: absolute; */
  width: 100%;
}

.ui.page.modals.transition.visible {
    display: flex !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.hiddenPusher {
  visibility: hidden;
  height: 3rem;
}

#searchBarDeskTop {
  margin: 3px 0;
  width: 600px;
}
