/* https://coolors.co/050505-1b9aaa-F7F6F2-2ffc41-485665 */

#allProductsList {
  padding-top: 3.5rem;
}

.App {
  text-align: center;
  background-color: #F7F6F2;
  color: #050505;
}

.ui.basic.button.removeListBtn {
  background-color: pink !important;
  color: #485665 !important;
}

.ui.basic.button.addListBtn {
  background-color: #1B9AAA !important;
  color: #F7F6F2 !important;
}

.ui.basic.button {
  width: 80%;
  margin: 1rem 0;
}

.ui.buttons:not(.basic):not(.inverted)>.button, .ui.buttons>.ui.button:not(.basic):not(.inverted) {
  background-color: #1B9AAA;
}

.ui.teal.button {
  background-color: #1B9AAA;
}

.ui.message>:last-child {
  color: #1B9AAA !important;
}

a {
  color: #050505 !important;
}

.ui.header {
  color: #050505;
  margin: 0 1rem 1rem 1rem;
}
.ui.cards>.card {
  color: #050505;
}

.ui.card .meta, .ui.cards>.card .meta {
  color: #485665;
}

#banner {
  background-image: url(http://www.oliverwyman.com/content/dam/oliver-wyman/v2/publications/2017/aug/Amazon_Aug_Banner.jpg.imgix.banner.jpg);
  width: 100%;
}

.ui.page.modals.transition.visible {
    display: flex !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.hiddenPusher {
  visibility: hidden;
  height: 3rem;
}

#searchBarDeskTop {
  /* margin: 3px 0; */
  width: 60%;
}
.ui.medium.image, .ui.medium.images .image, .ui.medium.images img, .ui.medium.images svg {
  width: auto;
  max-height: auto;
  margin-top: 2rem;;
}

.ui.card>:last-child, .ui.cards>.card>:last-child {
  margin: 1rem;
}
