/* https://coolors.co/050505-1b9aaa-F7F6F2-2ffc41-485665 */

.App {
  text-align: center;
  background-color: #F7F6F2;
  color: #050505;
}

.ui.basic.button {
  width: 80%;
  margin: 1rem 0;
}

.ui.buttons:not(.basic):not(.inverted)>.button, .ui.buttons>.ui.button:not(.basic):not(.inverted) {
  background-color: #1B9AAA;

}

.ui.teal.button {
  background-color: #1B9AAA;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ui.message>:last-child {
  color: #1B9AAA !important;
}

a {
  color: #050505 !important;
}
.productCards {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-end !important;
}

.ui.header {
  color: #050505;
  margin: 0 1rem 1rem 1rem;
  text-shadow: .5px .5px #485665;
}
.ui.cards>.card {
  color: #050505;
}

.ui.card .meta, .ui.cards>.card .meta {
  color: #485665;
}

.ui.page.modals.transition.visible {
    display: flex !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.hiddenPusher {
  visibility: hidden;
  height: 3rem;
}

.ui.medium.image, .ui.medium.images .image, .ui.medium.images img, .ui.medium.images svg {
  width: auto;
  max-height: auto;
  margin-top: 2rem;
}

.ui.card>:last-child, .ui.cards>.card>:last-child {
  margin: 1rem;
}
