.cartContainer {
  margin-top: 5rem;
  height: 100vh;
}

.removeFromCartBtn {
  width: 50%;
}

.removeFromCartBtn : hover {
  color: red;
}

.i.inverted.bordered.icon, i.inverted.circular.icon {
  background-color: #1b9aaa !important;

}

.shoppingCartIcons, .ui.button {
  color: #050505 !important;
}
